# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production build output
dist/
build/

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE / Editor configuration
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db
